@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'kanit';
    src: url('/fonts/kanit-medium-webfont.woff');
    font-weight: 500;
    font-style: normal;
}

